/* Setting various aesthetics */
body {
  /* The font */
  font-family: "PressStart2P";
  /* The background */
  background-image: url("/assets/images/PixelBG.png");
}

/* Enabling a custom font */
@font-face {
  font-family: "PressStart2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

/* Changing the enemy size */
.enemy {
  width: 100px;
  height: 100px;
}

/* Positioning the title image */
/* .title {
  position: absolute;
  top: -30px;
  right: 500px;
} */

/* Managing the aesthetics of the "enemy total" text */
#text {
  /* Changing text color */
  color: white;
  /* Adding a textbox */
  border: solid white;
  background-color: black;
/* Changing the size of the text box */
  width: 450px;
  height: 50px;
  /* Aligning the text to the center */
  text-align: center;
}
/* Managing the aesthetics of the dialog box */
#dialog {
  font-family: "PressStart2P";
  color: white;
  background-color: black;
}
