/* Setting webpage aesthetics */
body {
  /* The font */
  font-family: "Oswald-Medium";
  /* The background */
  /* A full url is used in order to display the image online */
  background-image: url("https://patrickchavez.github.io/cart263/Exercises/project2/assets/images/ComputerBackgroundPurple.png");
}

/* Enabling a custom font */
@font-face {
  font-family: "Oswald-Medium";
  /* A full url is used in order to display the font online */
  src: url("https://patrickchavez.github.io/cart263/Exercises/project2/assets/fonts/Oswald-Medium.ttf");
}

/* Managing the position and size of the title image */
.title {
  /* Putting the title at the center of the window */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Making the scores fixed on the window */
#gameScore {
  top: 0;
  position: fixed;
}


/* Managing the aesthetics of the subscriber score */
#subscribers {
  /* Changing text color */
  color: white;
  /* Adding a textbox */
  border: thick double white;
  background-color: black;
  /* Changing the textbox size */
  width: 150px;
  height: 20px;
  /* Positioning the the text */
  padding: 0.5em;
}

/* Managing the aesthetics of the month */
#month {
  /* Changing text color */
  color: white;
  /* Adding a textbox */
  border: thick double white;
  background-color: black;
  /* Changing the textbox size */
  width: 150px;
  height: 20px;
  /* Positioning the the text */
  padding: 0.5em;
}
