/* Setting the webpage aesthetics */
body {
  /* Setting the background */
  /* A full url is used in order to display the image online */
  background-image: url("https://patrickchavez.github.io/cart263/Exercises/project3/assets/images/MermaidGameBackground.png");
  /* The player cannot select text */
  user-select: none;
}

/* Setting the textbox aesthetics */
#textbox {
  /* Textbox color */
  background-color: rgb(40, 38, 64);
  /* Border */
  border: double rgb(130, 128, 150);
  border-width: 10px;
  /* Size */
  width: 700px;
  height: 140px;
  /* Position */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  /* Font */
  font-family: sans-serif;
  color: lavender;
  padding: 0.2em;
  font-size: 24px;
}

/* Setting the main menu aesthetics */
#menu {
  /* Size */
  width: 150px;
  /* Textbox color */
  background-color: rgb(40, 38, 64);
  /* Border */
  border: double rgb(130, 128, 150);
  border-width: 10px;
  /* Font */
  color: lavender;
  font-size: 24px;
  /* Setting opacity to 0 in order to display it later without messing up the webpage */
  opacity: 0;
}

/* Setting the "look" menu aesthetics */
#lookMenu {
  /* Size */
  width: 150px;
  /* Textbox color */
  background-color: rgb(40, 38, 64);
  /* Border */
  border: double rgb(130, 128, 150);
  border-width: 10px;
  /* Font */
  color: lavender;
  font-size: 24px;
}

/* Setting the "think" menu aesthetics */
#thinkMenu {
  /* Size */
  width: 150px;
  /* Textbox color */
  background-color: rgb(40, 38, 64);
  /* Border */
  border: double rgb(130, 128, 150);
  border-width: 10px;
  /* Font */
  color: lavender;
  font-size: 24px;
}

/* Setting the experiment dialog aesthetics */
#dialog {
  /* Textbox color */
  background-color: rgb(40, 38, 64);
  /* Border */
  border: double rgb(130, 128, 150);
  border-width: 10px;
  /* Font */
  color: lavender;
  font-size: 24px;
  /* Hiding the dialog so that it can be displayed later */
  display: none;
}

/* Setting the title aesthetics */
.title {
  /* Size */
  width: 500px;
  height: 100px;
  /* Position */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
